.custom-input{
    display: flex;
    color: #7D7D7D;
    width: 100%;
    flex-direction: column;
    height: 100%;
    padding-left: 2%;
    color: black;
}

.input-label{
    color: #7D7D7D;
}

.custom-input{
    margin-top: 10px;
    height: 3rem;
    border-radius: 30px;
    border: 1px #828282 solid;
    box-shadow: 0 4px 4px 0 #828282;
}