.dashboard-container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.dashboard-title{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #d9d9d9;
}
.dashboard-content{
    height: 90%;
}