.text-field-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin: 10px;
}
.text-field-container input{
    border-radius: 8px;
    height: 25px;
    border: 2px #D9D9D9 solid;
    box-shadow: 0 4px 4px 0 rgba(0,0,0, 0.5);
}
