.home-container{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.home-content{
    position: absolute;
    top: 10vh;
    left: 20%;
    height: 82vh;
    width: 76%;
    border-radius: 20px;
    margin: 1%;
    border: 1px solid #D6d6d6;
    box-shadow: 0 4px 4px 4px #d6d6d6;
}